 <!-- Sidebar -->
<div class="col-md-4 col-xs-12">
    <div class="sidebar">

        <!-- About -->
        <div class="widget kd-about">
            <h2 class="widget-title">About Me</h2>
            <div class="widget-header clearfix">
                <div class="about-image image" style="background-image: url(/content/images/avatar.jpg);">
                    <img src="~/content/images/avatar.jpg" alt="About Me">
                </div>
                <div class="widget-follow-content">
                    <div class="inner clearfix">
                        <a href="" title="Behance">
                            <i class="fa fa-behance"></i>
                        </a>
                        <a href="" title="Dribbble">
                            <i class="fa fa-dribbble"></i>
                        </a>
                        <a href="" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="" title="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="" title="Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="widget-content">
                <p class="description">My name is Dave Ellender, i loves beautiful content and doesn't like to give in easily.</p>
                <h3 class="title">
                    <a href="">Dave Ellender</a>
                </h3>
            </div>
        </div>
        <!-- End About -->
        <!-- Mailchimp -->
        <div class="widget kd-mailchimp">
            <h2 class="widget-title"><span>Subscribe</span></h2>
            <div class="widget-content">
                <form class="kd-subscribe">
                    <div class="form-item form-remove">
                        <input type="email" class="kd-subscribe-email" placeholder="Enter your email" value="" required />
                    </div>
                    <div class="form-submit icon-message-1">
                        <input type="submit" class="kd-btn kd-subscribe" value="">
                    </div>
                </form>
                <p class="subscribe-status"></p>
            </div>
        </div>
        <!-- End Mailchimp -->
        <!-- Popular Posts -->
        <div class="widget kd-popular-post kd-posts-list">
            <h2 class="widget-title">Most Popular</h2>
            <div class="widget-list">
                <div class="item clearfix">
                    <div class="image" style="background-image: url(/content/images/widgets/posts/1.jpg); ">
                        <img src="~/content/images/widgets/posts/1.jpg" alt="The basis of friendship is sharing">
                    </div>
                    <div class="widget-item-content">
                        <h3 class="title">
                            <a href="single.html">The basis of friendship is sharing</a>
                        </h3>
                        <div class="post-details">
                            <a href="" class="post-date">May 29, 2017</a>
                        </div>
                    </div>
                </div>
                <div class="item clearfix">
                    <div class="image" style="background-image: url(/content/images/widgets/posts/2.jpg); ">
                        <img src="~/content/images/widgets/posts/2.jpg" alt="Painting is just another way of keeping a diary">
                    </div>
                    <div class="widget-item-content">
                        <h3 class="title">
                            <a href="single.html">Painting is just another way of keeping a diary</a>
                        </h3>
                        <div class="post-details">
                            <a href="" class="post-date">May 29, 2017</a>
                        </div>
                    </div>
                </div>
                <div class="item clearfix">
                    <div class="image" style="background-image: url(/content/images/widgets/posts/3.jpg); ">
                        <img src="~/content/images/widgets/posts/3.jpg" alt="Let’s Take A Chance And Hope For The Best">
                    </div>
                    <div class="widget-item-content">
                        <h3 class="title">
                            <a href="single.html">Let’s Take A Chance And Hope For The Best</a>
                        </h3>
                        <div class="post-details">
                            <a href="" class="post-date">May 29, 2017</a>
                        </div>
                    </div>
                </div>
                <div class="item clearfix">
                    <div class="image" style="background-image: url(/content/images/widgets/posts/4.jpg); ">
                        <img src="~/content/images/widgets/posts/1.jpg" alt="The sooner you try the sooner you can succeed">
                    </div>
                    <div class="widget-item-content">
                        <h3 class="title">
                            <a href="single.html">The sooner you try the sooner you can succeed</a>
                        </h3>
                        <div class="post-details">
                            <a href="" class="post-date">May 29, 2017</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Popular Posts -->
        <!-- Categories -->
        <div class="widget kd-categories">
            <h2 class="widget-title"><span>Categories</span></h2>
            <div class="widget-content">
                <div class="item">
                    <div class="image" style="background-image: url(/content/images/widgets/category/1.jpg); ">
                        <img src="~/content/images/widgets/category/1.jpg" alt="Food">
                    </div>
                    <div class="item-cat">
                        <a href="">Food</a>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/content/images/widgets/category/2.jpg); ">
                        <img src="~/content/images/widgets/category/2.jpg" alt="Travel">
                    </div>
                    <div class="item-cat">
                        <a href="">Travel</a>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/content/images/widgets/category/3.jpg); ">
                        <img src="~/content/images/widgets/category/3.jpg" alt="Life Style">
                    </div>
                    <div class="item-cat">
                        <a href="">Life Style</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Categories -->
        <!-- Banner -->
        <div id="kd_banner-2" class="widget kd-banner">
            <div class="widget-banner-content" style="text-align: center;">
                <img src="~/content/images/widgets/banner/advertise.jpg" alt="">
            </div>
        </div>
        <!-- End Banner -->
        <!-- Recent Posts -->
        <div class="widget kd-latest-posts kd-posts-list">
            <h2 class="widget-title">Recent Posts</h2>
            <div class="widget-list classic">
                <div class="item clearfix">
                    <div class="number">01</div>
                    <div class="widget-item-content">
                        <h3 class="title">
                            <a href="single.html">In daily life, people have many way to get pleasure</a>
                        </h3>
                    </div>
                </div>
                <div class="item clearfix">
                    <div class="number">02</div>
                    <div class="widget-item-content">
                        <h3 class="title">
                            <a href="single.html">A country with many things not yet discoverd</a>
                        </h3>
                    </div>
                </div>
                <div class="item clearfix">
                    <div class="number">03</div>
                    <div class="widget-item-content">
                        <h3 class="title">
                            <a href="single.html">Our defeat was mainly due to our ill-discipline</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Recent Posts -->
        <!-- Featured Post -->
        <div class="widget kd-featured-post">
            <h2 class="widget-title">Featured Post</h2>
            <div class="widget-content">
                <div class="image" style="background-image: url(/content/images/widgets/featured-posts/1.jpg)"></div>
                <h3 class="title">
                    <a href="">The sooner you try the sooner you can succeed</a>
                </h3>
            </div>
        </div>
        <!-- End Featured Post -->
    </div>
</div>
<!-- End Sidebar -->